body {
    background-color: #C09F6F;
}

h1 {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 5em;
}

h2, h3, .scoreboard {
    font-family: 'Kanit', sans-serif;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.btn {
    background-color: #F9CE8E;
    padding: 8px 14px;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 2px 2px 0 0 #F9CE8E,
    4px 4px 0 0 black;
    transition-duration: 100ms;
}

.btn:hover {
    box-shadow: 3px 3px #F9CE8E, 
    6px 6px 0 0 black;
    transform: translate(-2px, -2px);
}

.scoreboard-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px; 
    font-family: 'Kanit', sans-serif;
}

.title {
    grid-column: span 2;
    text-align: center; 
    align-self: center;
    font-size: 3rem;
    font-family: 'Kanit', sans-serif;
}

.player-title,
.computer-title {
    text-align: center; 
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
}

.player-title p, .computer-title p {
    text-decoration: underline;
}

#player-score, #computer-score {
    font-size: 4rem;
    text-decoration: none;
}

/* Images */
.imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}


/* Footer */
.footer {
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
}

.fa_custom {
    color: black;
}

.fa-github {
    margin-left: 10px;
}
.fa-github:hover {
    transform: rotate(360deg) scale(1.15);
    transition: transform 0.3s ease-in-out;
}

/* Flashing */
body.beaten {
    animation: flashRed 1s alternate infinite;
}

body.beat-computer {
    animation: flashGreen 1s alternate infinite;
}

body.tie {
    animation: flashNeutral 1s alternate infinite;
}

@keyframes flashRed {
    0% {
        background-color: red;
    }
    100% {
        background-color: #C09F6F; /* Change this to your default background color */
    }
}

@keyframes flashGreen {
    0% {
        background-color: green;
    }
    100% {
        background-color: #C09F6F; /* Change this to your default background color */
    }
}

@keyframes flashNeutral {
    0% {
        background-color: #F9CE8E;
    }
    100% {
        background-color: #C09F6F; /* Change this to your default background color */
    }
}

